**KAPIL GUPTA MARCH BATCH 2023**

**Assignment 01**

In [ ]:
# list

mylist=['data','kapil',2023,True,2023.03]
mylist1=['information','gupta',2003,False,2023.06]
print(mylist)
print(mylist1)

# tuple

mytuple=('science','commerce',2022,True,556.556)
mytuple1=('analytics','maths',2202,False,565.565)
print(mytuple)
print(mytuple1)

# dictionary

mydic={'username':'kapil','password':'gupta','batch':2023}
mydic1={'ID':'kapil gupta','address':'ghaziabad','batch':2023}
print(mydic)
print(mydic1)

# set

myset={'unordered','collection',89,True}
myset1={'list','groceries',20,False,543.99}
print(myset)
print(myset1)

['data', 'kapil', 2023, True, 2023.03]
['information', 'gupta', 2003, False, 2023.06]
('science', 'commerce', 2022, True, 556.556)
('analytics', 'maths', 2202, False, 565.565)
{'username': 'kapil', 'password': 'gupta', 'batch': 2023}
{'ID': 'kapil gupta', 'address': 'ghaziabad', 'batch': 2023}
{89, 'collection', 'unordered', True}
{False, 20, 'list', 'groceries', 543.99}

**Assignment 2**

In [ ]:
# use of r+

file=open('assignment.txt','r+')
data=file.read()
file.write(' only data science')
print(data)

 kapil_gupta

In [ ]:
# use of w+

file=open('assignment.txt','w+')
file.write('\n nothing else')
data=file.read()
print(data)

In [ ]:
# use of a+

file=open('assignment.txt','a+')
file.write('\n assignment given by aishwarya mam')
data=file.read()
print()