**class 1**

In [ ]:
num=10
print(num)

10

In [ ]:
# num is number

In [ ]:
#num1=10
print(num1)

NameError: ignored

In [ ]:
# float
num=299.33
print(num)
print(type(num))

# string

name='introduction to data science'
print(name)
print(type(name))

# boolean
print(3>7)

299.33
<class 'float'>
introduction to data science
<class 'str'>
False

In [ ]:
# concatenation
num1='100'
num2='200.89'
print('the addition of two values are',(num1,num2))
print('the addition of two values are',(num1+num2))
print('the addition of two values are'+(num1+num2))
print('the addition of two values are'+(num1,num2))

the addition of two values are ('100', '200.89')
the addition of two values are 100200.89
the addition of two values are100200.89

TypeError: ignored

In [ ]:
name1='hello'
name2='world'
print(name1+name2)
print(name1, name2)
print('my first thing is'+name1)
print('my first thing is',name1)

helloworld
hello world
my first thing ishello
my first thing is hello

In [ ]:
x=input("Enter the value ")
y=input("enter the second value ")
z=int(input("Enter the third value "))
u=int(input("enter the fourth value "))
print('x and y are default strings',(x+y))
print('the difference between z and u is',(z-u))

Enter the value 89
enter the second value 99
Enter the third value 67
enter the fourth value 98
x and y are default strings 8999
the difference between z and u is -31

In [ ]:
x=int(input('enter the number : '))
y=int(input('enter the number : '))
sum=x+y
difference=x-y
print('the sum and difference are ',sum,'and',difference,'respectively.')

enter the number : 90
enter the number : 88
the sum and difference are  178 and 2 respectively.

In [ ]:
#coolective datatypes in python ->list,tupke,set,dictionary
#list ->collection of ordered datatypes
mylist=["data","task","A",89,True,245.76]
print(mylist)
print(type(mylist))
print(mylist[4])
print(mylist[-4])

# changeable -> mutable
# update
mylist=["data","task","A",89,True,245.76]
mylist[4]=False
mylist[2]='fast'
print('updated my list',mylist)

# append(add)
mylist.append("details")
print('after adding',mylist)

# insert
mylist.insert(3,"insert")
print('after inserting',mylist)

list1=[1,23,3445]
mylist.append(list1)
print(mylist)

# extend
mylist.extend(list1)
list1.extend(mylist)
print('after extending',mylist)
print(list1)

# remove
mylist.remove('details')
print('after removing',mylist)

# delete
del mylist[7]
print('after deleting',mylist)

del mylist
print(mylist)

['data', 'task', 'A', 89, True, 245.76]
<class 'list'>
True
A
updated my list ['data', 'task', 'fast', 89, False, 245.76]
after adding ['data', 'task', 'fast', 89, False, 245.76, 'details']
after inserting ['data', 'task', 'fast', 'insert', 89, False, 245.76, 'details']
['data', 'task', 'fast', 'insert', 89, False, 245.76, 'details', [1, 23, 3445]]
after extending ['data', 'task', 'fast', 'insert', 89, False, 245.76, 'details', [1, 23, 3445, 'data', 'task', 'fast', 'insert', 89, False, 245.76, 'details', [...], 1, 23, 3445], 1, 23, 3445]
[1, 23, 3445, 'data', 'task', 'fast', 'insert', 89, False, 245.76, 'details', [...], 1, 23, 3445]
after removing ['data', 'task', 'fast', 'insert', 89, False, 245.76, [1, 23, 3445, 'data', 'task', 'fast', 'insert', 89, False, 245.76, 'details', [...], 1, 23, 3445], 1, 23, 3445]
after deleting ['data', 'task', 'fast', 'insert', 89, False, 245.76, 1, 23, 3445]

NameError: ignored

In [ ]:
# tuple -> ordered collection of datatypes,immutable,()
mytuple=("dell","HP",56,False,5.77)
print(mytuple)
print(len(mytuple))
mytuple.append(7)
mytuple.insert(1,3)
print(mytuple)

('dell', 'HP', 56, False, 5.77)
5

AttributeError: ignored

**class 3**

In [ ]:
# dictionary -> {},key and values,mutable
mydic={
    'username':'admin',
    'password':'pass',
    'batch':2023
}
print(mydic)
print(mydic['username'])
# print(mydic['pass']) => error 

# updating
mydic['username']=('kapil','gupta')
print('after updating',mydic)

# append -> doesn't work

# extend -> doesn't work(no attribute like extend)

mydic["course"]='python'
print('extending by using updating',mydic)

list1=[1,23,34]
mydic['password']=list1
print("the values are",mydic)

# updating the key
new=mydic['course']
del mydic['course']
mydic['learning']=new
print(mydic)

# deleting
# pop deletes individual elements while delete can delete entire variable and even individual elements
mydic.pop('username')
print("the values are",mydic)

del mydic
print(mydic)

{'username': 'admin', 'password': 'pass', 'batch': 2023}
admin
after updating {'username': ('kapil', 'gupta'), 'password': 'pass', 'batch': 2023}
extending by using updating {'username': ('kapil', 'gupta'), 'password': 'pass', 'batch': 2023, 'course': 'python'}
the values are {'username': ('kapil', 'gupta'), 'password': [1, 23, 34], 'batch': 2023, 'course': 'python'}
{'username': ('kapil', 'gupta'), 'password': [1, 23, 34], 'batch': 2023, 'learning': 'python'}
the values are {'password': [1, 23, 34], 'batch': 2023, 'learning': 'python'}

NameError: ignored

In [ ]:
# set -> unordered coolection of data types,{},does not contain duplicate value
myset={'data','task',12,434.33,False,12}
print(myset)
# print(myset{2}) -> can't print individual data

# add -> can add only one argument
myset.add('error')
print(myset)

# combining two sets -> for adding multiple arguments(use .union or |)
set1={1,23,4,5,76,4}
set2={2,4,56,7}
set3=set1.union(set2)
print(set3)
set4=myset|set2
print(set4)

# intersection -> common elements
set3=set1.intersection(myset)
set4=set1.intersection(set2)
print(set3)
print(set4)

set2.clear()
print(set2)

set4=set1.difference(set3)
print(set4)

{False, 'data', 434.33, 'task', 12}
{False, 'data', 434.33, 'error', 'task', 12}
{1, 2, 4, 5, 7, 76, 23, 56}
{False, 'error', 2, 4, 7, 12, 'data', 434.33, 'task', 56}
set()
{4}
set()
{1, 4, 5, 23, 76}

In [ ]:
dic={'we':12,'we':13}
print(dic)
dic={'we1':12,'wee':12}
print(dic)
dic={'we':12,'we':12}
print(dic)

{'we': 13}
{'we1': 12, 'wee': 12}
{'we': 12}

In [ ]:
# assignment 1
# create two different examples of each of the collective datatype

**class 4**

In [ ]:
print('hello everyone \nwelcome welcome')

# functions -> a set of data that will be executed whenever you call it

def _func_():
  print('hello everyone \nwelcome welcome')
  # _func_() -> calling the function inside will not print
_func_()
_func_()
_func_()

def add(num1,num2):
 print('\naddition',num1+num2)
add(3,5)
add(-2,55.88)

def a(name):
  print('my favorite cartoon is',name)
a('tom & jerry')

hello everyone
welcome welcome
hello everyone
welcome welcome
hello everyone
welcome welcome
hello everyone
welcome welcome

addition 8

addition 53.88
my favorite cartoon is tom & jerry

In [ ]:
# for loop
a=5
for x in range(0,a+1):
  print(x)

for y in range(10):
  print('the value is',y)

mylist=['data','A','task',344,True,23.44]
print(mylist)
for a in mylist:
  print(a)

def _func_():
  print('hello everyone \nwelcome welcome')
for a in range(3):
  _func_()

0
1
2
3
4
5
the value is 0
the value is 1
the value is 2
the value is 3
the value is 4
the value is 5
the value is 6
the value is 7
the value is 8
the value is 9
['data', 'A', 'task', 344, True, 23.44]
data
A
task
344
True
23.44
hello everyone
welcome welcome
hello everyone
welcome welcome
hello everyone
welcome welcome

In [ ]:
# conditional statements
a=4
b=7
c=5
if(a>b and a>c):
  print('a is greatest')
elif(b>a and b>c):
  print("b is greatest")
else:
  print('c is greatest')

b is greatest